x-spring-base: &spring-base
  env_file:
    - ".env"
  healthcheck:
    test: [ "CMD", "curl", "-f", "http://localhost:8081/actuator/health" ]
    interval: 30s
    timeout: 10s
    retries: 5
    start_period: 20s
  networks:
    - restbank-net

services:
  eureka-server:
    <<: *spring-base
    image: restbank/eureka-server:${DOCKER_IMAGE_TAG:-1.0.0}
    build:
      context: ../
      dockerfile: services/eureka-server/Dockerfile
    ports:
      - "${EUREKA_PORT:-8761}:8761"

  api-gateway:
    <<: *spring-base
    image: restbank/api-gateway:${DOCKER_IMAGE_TAG:-1.0.0}
    build:
      context: ../
      dockerfile: services/api-gateway/Dockerfile
    ports:
      - "${API_GATEWAY_PORT:-1024}:1024"
    depends_on:
      keycloak:
        condition: service_healthy

  auth-service:
    <<: *spring-base
    image: restbank/auth-service:${DOCKER_IMAGE_TAG:-1.0.0}
    build:
      context: ../
      dockerfile: services/auth-service/Dockerfile
    ports:
      - "${AUTH_SERVICE_PORT:-1025}:1025"

  card-service:
    <<: *spring-base
    image: restbank/card-service:${DOCKER_IMAGE_TAG:-1.0.0}
    build:
      context: ../
      dockerfile: services/card-service/Dockerfile
    ports:
      - "${CARD_SERVICE_PORT:-1026}:1026"

  customer-service:
    <<: *spring-base
    image: restbank/customer-service:${DOCKER_IMAGE_TAG:-1.0.0}
    build:
      context: ../
      dockerfile: services/customer-service/Dockerfile
    ports:
      - "${CUSTOMER_SERVICE_PORT:-1027}:1027"

networks:
  restbank-net:
    name: restbank-net
    driver: bridge